.container {
    background-color: white;
}

.h1 {
    text-align: center;
    font-size: 1.6rem;
    padding: 0.7rem;
    position: sticky;
    top: 0;
    background-color:  rgb(104, 18, 18);
    color: white;
}

.newsContainer{
    padding: 0.5rem;
    border: solid;
    margin: 0.5rem;
}

.h3 {
    font-size: 1.1rem;
}

.author{
    text-align: center;
}

.readmore {
    display: block;
    padding: 0.8rem;
}

.span {
    padding-left: 0.5rem;
}

.time {
    padding: 0.8rem;
}