* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  outline: 1px solid blue;
  display: block;
  width: 50%;
  border-radius: 0%;
}

.width {
  max-width: 600px;
  margin: 0 auto;
  width: 50%;
  position: relative;
}

// .header {
//   background: #050505;
//   color: white;
//   padding: 20px 0;
//   position: sticky;
//   top: 0;
//   z-index: 10;
// }

// h1 {
//   text-align: center;
//   color: white;
//   text-transform: uppercase;
//   font-size: 20px;
//   letter-spacing: 2px;
// }

// h1 a {
//   color: white;
// }

// a {
//   text-decoration: none;
// }

.coinImg {
  max-width: 100%;
  display: block;
}

svg {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -12px;
  background-color: rgb(249, 251, 251);
}

.home-search {
  padding: 0.5rem 0;
  text-align: center;

  p {
    font-size: 1rem;
    margin: 8px 0;
  }

  .home-search-input {
  // background-color: red;
  display: flex;
  justify-content: center;

    .coinInput {
    border: 1px solid grey;
    padding: 0 24px;
    border-radius: 8px;
  }
}


}

//* eigenes CSS recharts-
.recharts-wrapper {
  margin-top: -3.7rem;
  font-size: 1rem;
}

.recharts-surface {
  margin-top: -3rem;
}

.home-cryptos {

  h2 {
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: center;
    margin-bottom: 0;
  }
}

.home-crypto {

  a {
    display: flex;
    gap: 30px;
    align-items: center;
    // padding: 20px 0;
    border-bottom: 1px solid #ddd;
  }

  span {
    display: block;
  }
}

.home-crypto-image {
  width: 30px;
}

.home-crypto-name {
  flex: 1;
  font-size: 1rem;
  color: #111;
  font-weight: 600;
}

.home-crypto-btc {
  font-size: 16px;
  color: #111;
}

.home-crypto-usd {
  font-size: 10px;
  color: #111;
}

.show-header {
  /*  padding: 40px 0; */
  text-align: center;
  /*  font-size: 32px; */

  img {
    width: 80px;
    border-radius: 50%;
    margin: 0 auto;
  }

  h2 {
    font-size: 32px;
    margin-top: 10px;
  }
}

.show-graph {
  height: 200px;
  width: 100%;
}

// .show-details {
//   padding-top: 100px;
//   padding-bottom: 60px;

//   h2 {
//     font-size: 26px;
//     margin-bottom: 20px;
//     text-align: center;
//     margin-bottom: 20px;
//   }
// }

// .show-details-row {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   padding: 24px 0;
//   border-bottom: 1px solid #ddd;
//   color: #666;

//   h4 {
//     font-size: 16px;
//     color: #111;
//   }
// }

.btnContainer {
  display: flex;
  justify-content: center;
}

.goBackButton {
  border: 1px solid orange;
  padding: 0.3rem;
  margin-top: 0.2rem;
}